<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul><br>

<form action="/add_bookmark" method="post">
<label for="url">Please enter title for bookmark</label> <br></br>
<input type="text" name="title"><br></br>
<label for="url">Please enter url for bookmark</label><br></br>
<input type="text" name="url">
<input type="submit" value="Add Bookmark">
</form>