<form action="/bookmarks/<%=@bookmark.id%>" method="post">
  <input type="hidden" name="_method" value="patch"/>
    <input type="text" value="<%=@bookmark.title%>" name="title">
   <input type="text" value="<%=@bookmark.url%>" name="url">
  <input type="submit" value="Save Changes">
</form>